.header {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #c4c4c4;
    padding: 2rem;
    
}

#dropdown-basic::after {
    display: none;
}

.logo {
    font-size: 1.7rem;
    font: Helvetica, sans-serif;
    color: black;
    background-color: transparent;
    border-color: transparent;

}

.menu {
    display: flex;
}

.menu > *{
    margin: 0.5rem;
}