.login {
    padding: 50x;
}

.username {
    margin-top: 15px;
    border-radius: 6px;
    border-width: thin;
    height: 40px;
}

.password {
    margin-top: 15px;
    border-radius: 6px;
    border-width: thin;
    margin-bottom: 10px;
    height: 40px;
}

.welcome_logo {
    font-size: 2rem;
    margin-bottom: 15px
}

body {
    background-color: #F5F5F5;
}