/* LoginSignupPage.module.css */
.cardContainer {
  margin-top: 5vh;
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 50px;
}

/* Media query for screen widths less than 603px */
@media (max-width: 603px) {
  .cardContainer {
    width: 90%;
  }
}


.login {
    padding: 50x;
}

.username {
    margin-top: 15px;
    border-radius: 6px;
    border-width: thin;
    height: 40px;
}

.password {
    margin-top: 15px;
    border-radius: 6px;
    border-width: thin;
    margin-bottom: 10px;
    height: 40px;
}

.welcome_logo {
    font-size: 2rem;
    margin-bottom: 15px
}

body {
    background-color: #F5F5F5;
}